{% extends 'main.html' %}

{% block content %}
<main class="auth layout">

  {% if page == 'login' %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Login</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Welcome to StudyHub, Login to find study partners.</h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="room_name">Email</label>
            <input id="username" name="email" type="text" placeholder="e.g. your.email@email.com "/>
          </div>
          <div class=" form__group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password"
              placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
          </div>

          <button class="btn btn--main" type="submit">
            Login
          </button>
        </form>

        <div class="auth__action">
          <p>Don't have an Account? Go</p>
          <a href="{% url 'createaccount' %}" class="btn btn--link">Create Account</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Create Account</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Create an Account to communicate with your partners.</h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <button class="btn btn--main" type="submit">
            Create Account
          </button>
        </form>

        <div class="auth__action">
          <p>Already have an account? Go</p>
          <a href="{% url 'login' %}" class="btn btn--link">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock content %}